@import './helpers/colorVariables';

@mixin greetingStyle {
  color: $primaryYellow;
  text-transform: uppercase;
  font-size: 1.1em;
}

.landing-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../Images/landing-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  .container {
    padding-top: 12rem;

    .image-profile {
      width: 17rem;
      border-radius: 50%;
      padding: 5px;
      border: 2px solid $primaryYellow;
    }

    .greeting {
      color: $primaryGrey;
      font-size: 2rem;
      letter-spacing: 0.125rem;
      line-height: 3rem;

      span#name {
        @include greetingStyle;
      }
      .typed-text {
        @include greetingStyle;
        border-bottom: 1px solid $primaryYellow;
      }
    }

    .row-bottom {
      padding-top: 5rem;

      button {
        background-color: $primaryYellow;
        font-weight: 700;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $darkYellow;
          border-color: $darkYellow;
        }
      }
    }

    @media (max-width: 768px) {
      padding-top: 6rem;

      .image-profile {
        width: 12rem;
      }

      .greeting {
        padding-top: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        line-height: 3rem;
      }

      .row-bottom {
        padding-top: 4rem;
      }
    }
  }
}
