@import './helpers/colorVariables';

.projects-wrapper {
  padding: 4rem 0;
  background-color: $lightGrey;

  .container {
    max-width: 45rem;

    h1 {
      color: $primaryYellow;
      padding-bottom: 2.5rem;
    }

    img {
      border-radius: 1.5%;
    }

    .project-info {
      margin: 1.75rem;
      color: $primaryDark;

      a {
        color: $lightGrey;
        text-decoration: none;
      }
    }

    .control-arrow,
    .control-arrow:hover {
      background-color: transparent;
    }

    .thumbs-wrapper {
      margin: 0;

      ul {
        padding: 0;
      }
    }
  }
}
